language: java
install: true
jdk:
- oraclejdk8
script:
- gradle build
notifications:
  email: false
deploy:
  provider: releases
  skip_cleanup: true
  api_key:
    secure: FrBsiP1eJwvpebZL4Zilb0PkObWW5PHHaTW45hXfPUbVuZrm65PNWcj94FhXUMTbVB2lKmpPdhq0VpoKO6odDWNNwe6tmtbuFzLU2Cfx69fhWjdL+NneJdDpQCgfHnQ36uQaHjPgJ1n3iKXVuagdZnJP1kt1TCgfCWdpVZSaiLY57LYgbYYuH1VzJ/a0I5OeLece9VPZpyvwGI3RTooNcLoUuIgiSCIrlb3whwVG3BGsmHe4W9hgC2UaTF4Su78SbwfFR2jA6UmQrAyrv3Nwzptf5aUmMd5I0Zxb9/Wa4fcYJBy9xoIV4gdEl7mJKisCYGJgC5qWXkXEg20ibTPRmic7kgaWEOKccawJsdzyIFaLhais9093/OonjlL+wAvWPYkWKEX2oV/27ADYDlwHe1eXvt05MOhN5YKTaZ4BfrwW6wKMQ3UdqHcVAA5MYYjfyz3oFgbpG3lFqcd1jjO6bkh7mgR8iN738KyneYQcSSYoOa/gQhaHLZpp5fyclyJY6ubzu+W6zBAOySLYHyiOA2guRI2SeDgCYfhPHqJgKlMzzq2Ta+JQnit5al5en9X9PcBu+CfnCmqUtltN6YKkqhBKIJI8SPttg6gXmq+oIKLMW5k0Su2S/GqEbVnfVLhsLKA3NYFEz0waaKA8JZN+gYAgVq/u3fFQxNbGLYdqZkE=
  file: build/libs/exgregilo-latest.jar
  on:
    repo: Quantum64/ExGregilo
